#calendar .foot .time tbody tr:first-child td:nth-child(2){
	display:none;
}
#calendar .foot .time tbody tr:first-child td:nth-child(1){
	width:90px;
}
#calendar .foot .time tbody tr:first-child td:nth-child(1) input{
	width:23px;
}
#calendar .foot button{
	width:50px;
}
#calendar .tm .hh{
	width:180px; 
	height:135px;
}
#calendar .tm .hh li {
    width: 36px;
    height: 27px;
}
#calendar .tm .mm{
	width:100px;
	height:50px;
}
#calendar .tm .mm li{
	width:50px;
	height:50px;
	line-height: 4;
}
#calendar .tm .mm li:nth-child(2),#calendar .tm .mm li:nth-child(3),#calendar .tm .mm li:nth-child(4),#calendar .tm .mm li:nth-child(5),#calendar .tm .mm li:nth-child(6){
	display:none;
}
#calendar .tm .mm li:nth-child(8),#calendar .tm .mm li:nth-child(9),#calendar .tm .mm li:nth-child(10),#calendar .tm .mm li:nth-child(11),#calendar .tm .mm li:nth-child(12){
	display:none;
}